    Create project 18/06/2566
    Create by moremoo
    Project : Numpy_cheak_digit

In [5]:
import numpy as np
print(f'Numpy version = {np.__version__}')

Numpy version = 1.19.2

https://th.wikipedia.org/wiki/เลขประจำตัวประชาชนไทย

In [2]:
thai_id = '110123456789'

In [4]:
list(thai_id[:12])

['1', '1', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [8]:
a = np.array(list(thai_id[:12]), dtype=int)
a

array([1, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [10]:
b = np.arange(13, 1, -1)
b

array([13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2])

In [12]:
x = np.sum(a * b) % 11

In [13]:
1 - x if x <= 1 else 11 - x

7

In [14]:
np.sum(a * b) + 7

242

In [15]:
242 % 11

0

In [18]:
def thai_id_cheak_digit(thai_id):
    a = np.array(list(thai_id[:12]), dtype=int)
    b = np.arange(13, 1, -1)
    x = np.sum(a * b) % 11
    return 1 - x if x <= 1 else 11 - x